
<div class="page-wrapper p-t-100 p-b-50" style="background-image: url(assets/images/slide-02.jpg) ;">
  <div class="wrapper wrapper--w900">
<form #f="ngForm">
  <div class="form-group">
    <label>Name</label>
    <input [placeholder]="job.name" type="text" name="namef" class="form-control" [(ngModel)]="job.name" >
  </div>
  <div class="form-group">
    <label>Mail</label>
    <input [placeholder]="job.mail" type="text" name="names" class="form-control" [(ngModel)]="job.mail">
  </div>
  <div class="form-group">
    <label>MSG</label>
    <input [placeholder]="job.msg" type="text" name="email" class="form-control" [(ngModel)]="job.msg">
  </div>
  <button class="btn btn-success" [disabled]="f.invalid" (click)="save()" routerLink="/other">save</button>
</form>
  </div>
</div>
