
<div class="page-wrapper p-t-100 p-b-50" style="background-image: url(assets/images/slide-02.jpg) ;">
  <div class="wrapper wrapper--w900">
<form #f="ngForm">
  <div class="form-group">
    <label>Name</label>
    <input [placeholder]="job.name" type="text" name="namef" class="form-control" [(ngModel)]="job.name" #i="ngModel" required>
  </div>
  <div class="alert alert-danger" *ngIf="i.invalid && i.touched">
    Name is required
  </div>
  <div class="form-group">
    <label>Mail</label>
    <input [placeholder]="job.mail" type="text" name="names" class="form-control" [(ngModel)]="job.mail" #m="ngModel" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$" minlength="3">
  </div>
  <div class="alert alert-danger" *ngIf="m.invalid && m.touched">
    <div *ngIf="m.errors.required">Mail is required</div>
    <div *ngIf="m.errors.minlength">Mail minlength is 3</div>
    <div *ngIf="m.errors.pattern">Error</div>
  </div>
  <div class="form-group">
    <label>MSG</label>
    <input [placeholder]="job.msg" type="text" name="email" class="form-control" [(ngModel)]="job.msg">
  </div>
  <button class="btn btn-success" [disabled]="f.invalid" (click)="save()" routerLink="/home">save</button>
</form>
  </div>
</div>
