<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

  <title>TNJobs</title>

</head>

<body>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a routerLink="/home" class="logo">
            .TNJobs
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <div *ngIf=" userid() == undefined ">
            <ul class="nav">
              <li class="scroll-to-section"><a class="active" routerLink="/home">Home</a></li>
              <li class="scroll-to-section"><a href="#about">About</a></li>
              <li class="scroll-to-section"><a routerLink="/jobs">Jobs</a></li>
              <li class="scroll-to-section"><a routerLink="/other">Contact</a></li>
              <li class="submenu">
                <a href="javascript:">Drop Down</a>
                <ul>
                  <li><a routerLink="/login">Login</a></li>
                  <li><a routerLink="/register">Register</a></li>
                  <li><a routerLink="/addpost">Post</a></li>
                </ul>
              </li>
              <li class="scroll-to-section"><a routerLink="/contactus">Contact Us</a></li>
              <div class="search-icon">
                <a href="#search"><i class="fa fa-search"></i></a>
              </div>
            </ul>
          </div>

          <div *ngIf=" userid() !== undefined">
            <div *ngIf=" userc.role == 'user'">
          <ul class="nav">
            <li class="scroll-to-section"><a class="active" routerLink="/home">Home</a></li>
            <li class="scroll-to-section"><a href="#about">About</a></li>
            <li class="scroll-to-section"><a routerLink="/jobs">Jobs</a></li>
            <li class="scroll-to-section"><a routerLink="/other">Contact</a></li>
            <li class="submenu">
              <a href="javascript:">Drop Down</a>
              <ul>
                <li><a routerLink="/addpost">Post</a></li>
                <li><a (click)="logout()" routerLink="/login">logout</a> </li>
                <li><a [routerLink]="['/profil/'+ id]">Profile</a> </li>
              </ul>
            </li>
            <li class="scroll-to-section"><a routerLink="/contactus">Contact Us</a></li>
            <div class="search-icon">
              <a href="#search"><i class="fa fa-search"></i></a>
            </div>
          </ul>
            </div>



            <div *ngIf=" userc.role == 'admin'">
              <ul class="nav">
                <li class="scroll-to-section"><a class="active" routerLink="/home">Home</a></li>
                <li class="scroll-to-section"><a routerLink="/postsa">Posts</a></li>
                <li class="scroll-to-section"><a routerLink="/jobsa">Jobs</a></li>
                <li class="scroll-to-section"><a routerLink="/usersa">Users</a></li>
                <li class="submenu">
                  <a href="javascript:">Drop Down</a>
                  <ul>
                    <li><a (click)="logout()" routerLink="/login">logout</a> </li>
                  </ul>
                </li>
                <li class="scroll-to-section"><a routerLink="/contactus">Contact Us</a></li>
                <div class="search-icon">
                  <a href="#search"><i class="fa fa-search"></i></a>
                </div>
              </ul>
            </div>
          </div>


          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Search Area ***** -->
<div id="search">
  <button type="button" class="close">×</button>
  <form id="searchid" action="#" method="get">
    <fieldset>
      <input type="search" name="q" placeholder="SEARCH KEYWORD(s)" aria-label="Search through site content">
    </fieldset>
    <fieldset>
      <button type="submit" class="main-button">Search</button>
    </fieldset>
  </form>
</div>

<section id="Job">
  <router-outlet></router-outlet>
</section>
<!-- ***** Contact Us Area Starts ***** -->


<section class="section" id="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="left-text-content">
          <div class="section-heading">
            <h6>Contact Us</h6>
            <h2>Feel free to keep in touch with us!</h2>
          </div>
          <ul class="contact-info">
            <li><img src="../assets/images/contact-info-01.png" alt="">+216 99 100 555</li>
            <li><img src="../assets/images/contact-info-02.png" alt="">Ahmed.haddad@ieee.org</li>
            <li><img src="../assets/images/contact-info-03.png" alt="">www.TNJOBS.com</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-xs-12">
        <div class="contact-form">
          <form id="contact" action="" method="get">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <fieldset>
                  <input name="name" type="text" id="name" placeholder="Your Name *" required="">
                </fieldset>
              </div>
              <div class="col-md-6 col-sm-12">
                <fieldset>
                  <input name="phone" type="text" id="phone" placeholder="Your Phone" required="">
                </fieldset>
              </div>
              <div class="col-md-6 col-sm-12">
                <fieldset>
                  <input name="email" type="email" id="email" placeholder="Your Email *" required="">
                </fieldset>
              </div>
              <div class="col-md-6 col-sm-12">
                <fieldset>
                  <input name="subject" type="text" id="subject" placeholder="Subject">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-button-icon">Send Message Now <i class="fa fa-arrow-right"></i></button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Contact Us Area Ends ***** -->



<!-- ***** Footer Start ***** -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="left-text-content">
          <p>Copyright &copy; 2020 Haddad.

            - Design: <a rel="nofollow noopener" href="https://templatemo.com">Haddad</a></p>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12">
        <div class="right-text-content">
          <ul class="social-icons">
            <li><p>Follow Us</p></li>
            <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
            <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-twitter"></i></a></li>
            <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-linkedin"></i></a></li>
            <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- jQuery -->
<script src="assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="assets/js/owl-carousel.js"></script>
<script src="assets/js/scrollreveal.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/imgfix.min.js"></script>
<script src="assets/js/slick.js"></script>
<script src="assets/js/lightbox.js"></script>
<script src="assets/js/isotope.js"></script>

<!-- Global Init -->
<script src="assets/js/custom.js"></script>

<script>

  $(function() {
    var selectedClass = "";
    $("p").click(function(){
      selectedClass = $(this).attr("data-rel");
      $("#portfolio").fadeTo(50, 0.1);
      $("#portfolio div").not("."+selectedClass).fadeOut();
      setTimeout(function() {
        $("."+selectedClass).fadeIn();
        $("#portfolio").fadeTo(50, 1);
      }, 500);

    });
  });

</script>

</body>
</html>
