<div class="page-wrapper p-t-100 p-b-50" style="background-image: url(assets/images/slide-02.jpg) ;">
  <div class="wrapper wrapper--w900" *ngFor="let p of postList">
    <div class="card mb-4" *ngIf="p.id==id">
      <img class="card-img-top" [src]="p.cv" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">{{p.id}} : {{p.name}}</h3>
        <p class="card-text">{{p.msg}}</p>
        <p class="card-text">{{p.mail}}</p>
        <button *ngIf=" idd !== 0" class="btn btn--blue" [routerLink]="['/addpost/']">AddPost</button>
      </div>
    </div>
  </div>
</div>

